.messages {
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 80px;
  height: 100%;
  padding: 1rem;
  overflow-x: visible;
  overflow-y: auto;
}

.message {
  margin: 1rem;
  &--isAuthor {
    text-align: right;
  }
  &-author {
    padding: .5rem 0;
  }
  &-content {
    padding: .5rem;
    background-color: white;
    display: inline-block;
    border-radius: 13px;
  }
}
