@use "sass:color";
@import "src/styles/vars";

.settings {
  position: absolute;
  bottom: 1.2em;
  left: 0.8em;
  width: 200px;
  transform: translateY(0);
  transition: transform .3s;
  
  &--open {
    width: 200x;

    .settings-toggler {
      transform: rotate(45deg);

      &:hover {
        transform: scale(1.2) rotate(45deg);
      }
    }
  }

  &-form {
    margin-top: 1em;
    margin-left: 0;
  }

  &-toggler {
    border-radius: 50%;
    border: 0;
    background-color: $action-color;
    width: 2.8rem;
    height: 2.8rem;
    top: .25rem;
    left: -3rem;
    
    &:hover {
      transform: scale(1.2);
    }
  }

  &-submit {
    width: 100%;
    border-radius: 5px;
    background-color: $action-color;
    border: 0;
    padding: 0.5rem;
    color: white;
    margin-top: 0.5rem;

    &:hover {
      background-color: color.adjust($action-color, $lightness: -20%);
    }
  }
}
  

